* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* meny */
.nav {
    flex: 100%;
    background-color: rgb(149, 201, 149);
}

.nav a {
    float: right;
    text-decoration: none;
    margin: 15px;
    color: black;
}

.nav a:nth-last-of-type(2) {
    margin-right: 50px;
}

/* INDEXSIDA */

/* rubrik */
.monthName {
    font-size: 300%;
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* datum */
.days {
    flex: 60%;
    padding: 50px;
}

.days div {
    background-color: lightgreen;
    margin-bottom: 5px;
    padding: 5px;
}

/* habit tracker */
.habits {
    flex: 40%;
}

.habits span {
    background-color: rgb(35, 109, 109);
    padding: 10px 20px;
    margin-right: 5px;
}