/* ALLMÄNT */
* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* meny */
.nav {
    flex: 100%;
    background-color: rgb(149, 201, 149);
}

/* länkar i menyn */
.nav a {
    float: right;
    text-decoration: none;
    margin: 15px;
    color: black;
}

a:hover {
    color: rgb(81, 81, 81);
}

/* gör att länkarna skjuts från högerkanten */
.nav a:nth-last-of-type(3) {
    margin-right: 50px;
}

/* sidan du är på har ett sträck under sig */
.nav .currentPage {
    text-decoration: underline;
}

/* INDEXSIDA */

/* rubrik */
.monthName {
    font-size: 300%;
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

/* instruktioner */
.instructions {
    flex: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.information {
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.infoText {
    width: 60%;
    text-align: center;
    border: solid;
    border-width: 1px;
    padding: 10px;
    font-style: italic;
}

/* mood tracker */
.moods {
    flex: 20%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

/* ställer in höjden på den tomma rutan */
.moods .emptyBlock {
    height: 300px;
}

/* gör att texten får ett mellanrum */
.moods p {
    margin-right: 10px;
}

/* fixar rutan med färgen */
.moods span {
    padding: 10px 20px;
    margin-right: 5px; 
}

.moodMarker {
    border: solid;
    border-width: 1px;
    border-color: black;
}

.moodMarker:hover {
    cursor: pointer; /* ändrar muspekaren när man håller över rutan */
}

#happiestMood {
    background-color: rgb(255, 156, 156);
}

#happyMood {
    background-color: rgb(175, 117, 117);
    
}

#okMood {
    background-color: rgb(255, 80, 80);
    
}

#sadMood {
    background-color: rgb(179, 10, 10);
}

#removeMood {
    background-color: white;
}

/* knappar */

/* användarnamnet */
.enterID {
    display: flex;
    background-color: rgb(233, 233, 233);
    padding: 5px;
    margin-top: 5px;
}

.enterID p, .enterID input {
    flex: 20%;
    width: 60%;
}

/* knappar för att visa/spara/ta bort */
button {
    width: 100%;
    margin-bottom: 5px;
}

/* dagar */
.days {
    flex: 70%;
    padding: 0px 50px 50px 50px;
    display: flex;
    flex-wrap: wrap;
}

/* justerar storleken på datumrutorna */
.weekdays, .dates, .datesBlank {
    flex: 12%;
    margin: 5px;
    padding: 5px;
}

/* veckodagsnamnen */
.weekdays {
    border-bottom: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
}

/* formaterar datumrutorna */
.dates, .datesBlank {
    height: 100px;
    display: block;
}

.dates {
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 15px;
}

.dates:hover {
    cursor: pointer;
}

/* formatering av rutorna där man kan fylla i text */
.inputBox {
    width: 100%;
    height: 60px;
    border: none;
    resize: none;
}

/* HABITS */
/* knappar */
.buttonsHabit {
    display: flex;
    justify-content: center;
    width: 50%;
    flex: 100%;
}

.buttonsHabit ul {
    list-style: none;
    padding-left: 0;
}

/* text och färger */
.habitColor {
    flex: 20%;
    margin-right: 5px;
    height: 30px;
    border: solid;
    border-width: 1px;
}

.daysHabits input {
    flex: 75%;
    height: 30px;
}

/* dagar */
.daysHabits {
    flex: 30%;
    height: 50%;
    padding: 5px;
    display: flex;

    border: solid;
    border-radius: 10px;
    margin: 0 10px;
}

.datesHabits {
    font-size: x-small;
    border-radius: 10px;
}

.datesHabits, .datesBlankHabits {
    height: 50px;
    flex: 10%;
}

/* OM OSS */
.aboutUsContent {
    width: 60%;
    text-align: center;
}

.aboutUsContent img {
    width: 50%;
}

/* MOBILANPASSAD */
@media (max-width: 955px) {
    /* INDEX */
    /* rubrik */
    .monthName {
        font-size: large;
    }

    /* instruktionstext */
    .infoText {
        flex: 80%; 
    }

    /* dagar */
    .days {
        flex: 100%;
        display: flex;
    }
    
    .dates {
        flex: 45%;
        margin: 5px 5px;
        height: 80px
    }

    /* döljer veckodagsnamnen och de tomma rutorna */
    .weekdays, .datesBlank, .emptyBlock {
        display: none;
    } 

    /* ändrar storleken på rutorna man fyller i */
    .inputBox {
        height: 40px !important;
    }

    /* HABITS */
    /* kalendrarna */
    .datesHabits {
        flex: 10%;
        height: 40px;
    }

    .datesBlankHabits {
        display: block;
    }

    /* OM OSS */
    .aboutUsContent img {
        width: 100%;
    }
  }