* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* meny */
.nav {
    flex: 100%;
    background-color: rgb(149, 201, 149);
}

.nav a {
    float: right;
    text-decoration: none;
    margin: 15px;
    color: black;
}

.nav a:nth-last-of-type(3) {
    margin-right: 50px;
}

/* FUNGERAR INTE */
.nav a .currentPage {
    text-decoration: underline;
}

a:hover {
    color: rgb(81, 81, 81);
}

/* INDEXSIDA */

/* rubrik */
.monthName {
    font-size: 300%;
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

/* instruktioner */
.instructions {
    flex: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.information {
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.infoText {
    width: 60%;
    /* flex: 100%; */
    text-align: center;
    border: solid;
    border-width: 1px;
    padding: 10px;
    font-style: italic;
}

.enterID {
    display: flex;
    background-color: rgb(233, 233, 233);
    padding: 5px;
    /* justify-content: center; */
}

.enterID p, .enterID input {
    flex: 20%;
    width: 60%;
}
/* knappar */

button {
    width: 100%;
    margin-bottom: 5px;
}

/* datum */
.days {
    flex: 70%;
    padding: 0px 50px 50px 50px;
    display: flex;
    flex-wrap: wrap;
}

.weekdays, .dates, .datesBlank {
    flex: 12%;
    margin: 5px;
    padding: 5px;
}

.weekdays {
    border-bottom: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
}

.dates, .datesBlank {
    height: 100px;
    display: block;
}

.dates {
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 15px;
}

.dates:hover {
    cursor: pointer;
}

/* habit trackers */
.moods {
    flex: 20%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.moods .emptyBlock {
    height: 300px;
}

.moods p {
    margin-right: 10px;
}

.moods span {
    padding: 10px 20px;
    margin-right: 5px; 
}

.moodMarker {
    border: solid;
    border-width: 1px;
    border-color: black;
}

.moodMarker:hover {
    cursor: pointer;
}

#happiestMood {
    background-color: rgb(255, 156, 156);
}

#happyMood {
    background-color: rgb(175, 117, 117);
    
}

#okMood {
    background-color: rgb(255, 80, 80);
    
}

#sadMood {
    background-color: rgb(179, 10, 10);
}

#removeMood {
    background-color: white;
}

/* fylla i text i rutorna */
.inputBox {
    width: 100%;
    height: 60px;
    border: none;
    resize: none;
}

/* HABITS */
.habitsCalender {
    flex: 33%;
    height: 50%;

    border: solid;
    border: 1px;
    border-radius: 0.5px;
}

.datesHabits {
    font-size: x-small;
}

.datesHabits, .datesBlankHabits {
    height: 50px;
    /* flex: 11.5%; */
}

.daysHabits {
    padding: 5px;
}

/* OM OSS */
.aboutUsContent {
    width: 60%;
    text-align: center;
}

.aboutUsContent img {
    width: 50%;
}

/* MOBILANPASSAD */
@media (max-width: 955px) {
    /* INDEX */
    .monthName {
        font-size: large;
    }

    .infoText {
        flex: 80%; 
    }

    .days {
        flex: 100%;
        display: flex;
    }
    
    .dates {
        flex: 45%;
        margin: 5px 5px;
        height: 80px
    }

    .weekdays, .datesBlank {
        display: none;
    } 

    .inputBox {
        height: 40px !important;
    }

    .emptyBlock {
        display: none;
    }

    /* OM OSS */
    .aboutUsContent img {
        width: 100%;
    }
  }